:root {
	--slate-900: #1F314F; 
	--slate-500: #68778D; 
	--slate-300: #D5E1EF; 
}

html {
	font-size: 15px;
	font-family: "Outfit", sans-serif;
}

body {
	background-color: var(--slate-300);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
    width: 320px; 
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;        
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.qr-wrapper {
    width: 288px;             
    margin-top: 16px;         
    border-radius: 20px;      
    overflow: hidden;         
}

.image {
    width: 100%;              
    height: auto;             
    display: block;           
    border-radius: 0;         
}

.one {
	font-family: "Outfit", sans-serif;
	font-size: 22px;
	color: var(--slate-900);
	font-style: bold;
	font-weight: 800;
	text-align: center;
	margin: 0;
	margin-top: 24px;
	letter-spacing: 0.5px;
}

.two {
	font-family: "Outfit", sans-serif;
	font-size: 15px;
	color: var(--slate-500);
	text-align: center;
	margin: 0;
	margin-top: 24px;
}

